**/.DS_Store
build/
.idea/
.cache/
.vscode/
bin/
lib/
compile_commands.json

# vcpkg
vcpkg_installed/
.vcpkg-root
vcpkg-manifest-install.log
CMakeUserPresets.json

# 测试项目构建目录
test_vcpkg/build/

.xmake

.cursor
test_vcpkg/
vcpkg-config/
